body,div,ul,li,h2,a,p{
	margin: 0;
	padding: 0;
	font-family: "Microsoft Yahei";
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
	display: block;
	text-align: center;
}
 a:hover{
    background-color: gray;
	color: white;
}
img{
	border: none;
	display: block;
}
.clearfloat{
	zoom:1;
}